*{
        background-image: url(./imagenes/fondo-piedra-trazos-dorados_125540-130.jpg);
        background-color: transparent;
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        font-size: 20px;
        text-align: justify;

}

@font-face {
        font-family: playball;
        src: url(./fonts/Playball-Regular.ttf);
}
